    #israel-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-01.jpg);
    }
    #usa-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-02.jpg);
    }
    #australia-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-03.jpg);
    }
    #new-zealand-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-04.jpg);
    }
    #france-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-05.jpg);
    }
    #egypt-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-06.jpg);
    }
    #japan-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-07.jpg);
    }
    #canada-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-08.jpg);
    }
    #uae-header{
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(26, 26, 26, 0.6)), url(../img/tour/tour-09.jpg);
    }   
     #australia-photo-01{
        background-image: url(../img/tour/aus-tour-01.jpg);
        } 
    #australia-photo-02{
        background-image: url(../img/tour/aus-tour-02.jpg);
        }
    #australia-photo-03{
         background-image: url(../img/tour/aus-tour-03.jpg);
        }
    #france-photo-01{
        background-image: url(../img/tour/france-tour-01.jpg);
        }
    
    #france-photo-02{
        background-image: url(../img/tour/france-tour-02.jpg);
        }
    
    #france-photo-03{
         background-image: url(../img/tour/france-tour-03.jpg);
        }
    #egypt-photo-01{
        background-image: url(../img/tour/egypt-tour-01.jpg);
        }
    #egypt-photo-02{
        background-image: url(../img/tour/egypt-tour-02.jpg);
        }
    #egypt-photo-03{
         background-image: url(../img/tour/egypt-tour-03.jpg);
        }
        #japan-photo-01{
        background-image: url(../img/tour/japan-tour-01.jpg);
        }
    #japan-photo-02{
        background-image: url(../img/tour/japan-tour-02.jpg);
        }
    #japan-photo-03{
         background-image: url(../img/tour/japan-tour-03.jpg);
        }
    #uae-photo-01{
        background-image: url(../img/tour/uae-tour-01.jpg);
        }
    #uae-photo-02{
        background-image: url(../img/tour/uae-tour-02.jpg);
        }
    #uae-photo-03{
         background-image: url(../img/tour/uae-tour-03.jpg);
        }
        #israel-photo-01{
            background-image: url(../img/tour/israel-tour-01.jpg);
        }
        #israel-photo-02{
            background-image: url(../img/tour/israel-tour-02.jpg);
        }
        #israel-photo-03{
            background-image: url(../img/tour/israel-tour-03.jpg);
        }
            #usa-photo-01{
            background-image: url(../img/tour/usa-tour-01.jpg);
        }
        #usa-photo-02{
            background-image: url(../img/tour/usa-tour-02.jpg);
        }
        #usa-photo-03{
            background-image: url(../img/tour/usa-tour-03.jpg);
        }
        #canada-photo-01{
            background-image: url(../img/tour/canada-tour-01.jpg);
            }
        
        #canada-photo-02{
            background-image: url(../img/tour/canada-tour-02.jpg);
            }
        
        #canada-photo-03{
             background-image: url(../img/tour/canada-tour-03.jpg);
            }
            #new-zealand-photo-01{
                background-image: url(../img/tour/nz-tour-01.jpg);
                }
            
            #new-zealand-photo-02{
                background-image: url(../img/tour/nz-tour-02.jpg);
                }
            
            #new-zealand-photo-03{
                 background-image: url(../img/tour/nz-tour-03.jpg);
                }
        
        